.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# iOS generated artifacts
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Flutter/ephemeral/
**/Pods/
**/.symlinks/
**/ServiceDefinitions.json

# OS/editor
.DS_Store
.idea/
.vscode/
*.iml
